<!DOCTYPE html>
<html>

<head>
  <title>Continent</title>
  <link href="./templates/style.css" rel="stylesheet" type="text/css" />
</head>


<script src="./templates/components/nav.js" type="text/javascript" defer></script>
<script src="./templates/components/table.js" type="text/javascript" defer></script>
<script src="./templates/components/select.js" type="text/javascript" defer></script>

<style>
  .continentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  #continent {
    padding: 10px;
  }
</style>

<script defer>
  function selectCasesByMonth() {
      const selectedDate = document.getElementById("covidVaccinationDate").value;
       const selectedContinent = document.getElementById('continent').value
      return fetch(`/api/covidVaccination/continent?date=${selectedDate}&continentId=${selectedContinent}`)
        .then((response) => response.json())
        .then(({ covidVaccination, totalCovid, totalVaccination }) => {
          covidVaccination.push({ date: "<b>Total</b>", ...totalCovid,...totalVaccination });
          const header = selectedDate !== 'all' ? ["Date", "Daily Case", "Daily Death", "Daily Vaccination", "Daily Unique Vaccinated People"]:  ["Date", "Total Case", "Total Death", "Total Vaccination", "Total Unique Vaccinated People"]
          loadTable(covidVaccination, header, "covidVaccination");
        });
    }


  function selectCovidHospitalizeByMonth() {
      const selectedDate = document.getElementById(
        "covidHospitalizeDate"
      ).value;
      const selectedContinent = document.getElementById('continent').value
      return fetch(`/api/hospitalize/continent?date=${selectedDate}&continentId=${selectedContinent}`)
        .then((response) => response.json())
        .then(({ covidHospitalize, totalCovid, totalCovidHospitalize }) => {
          covidHospitalize.push({
            date: "<b>Total</b>",
            ...totalCovid,
            ...totalCovidHospitalize,
          });
           const header = selectedDate !== 'all' ? [
              "Date",
              "Daily Case",
              "Daily Death",
              "Daily ICU Patient",
              "Daily Hospitalize Patient",
            ]:[
              "Date",
              "Total Case",
              "Total Death",
              "Total ICU Patient",
              "Total Hospitalize Patient",
            ]
          loadTable(
            covidHospitalize,
            header,
            "covidHospitalize"
          );
        });
      }

  function filterByContinent() {
    const selectedContinent = document.getElementById('continent')

    return Promise.all([
      selectCasesByMonth(),
      selectCovidHospitalizeByMonth(),
      fetch(`/api/population/continent?continentId=${selectedContinent.value}`)
        .then(response => response.json())
        .then(({ population }) => {
          const selectedContinentText = selectedContinent.options[selectedContinent.selectedIndex].textContent
          const populationText = document.getElementById('population')
          populationText.textContent = `${selectedContinentText} Population: ${population.total_population}`
        })
    ])
  }

</script>

<body>
  <div id="myNav"></div>
  <div class="container">
    <h1>Continent Data</h1>

    <div class="continentContainer">
      <h1>Continents:<h1>
          <select name="Continents" id="continent" onchange="filterByContinent()">
            {{#continents}}
            <option value="{{id}}">{{continent}}</option>
            {{/continents}}
          </select>
    </div>

    <h3 id="population">{{continents.0.continent}} Population: {{population.total_population}}</h3>

     <div class="row">
        <div class="container">
          <div class="titleContainer">
            <h3>Covid Cases And Vaccination</h3>
            <div>
              Filter:
              <select
                name="Filter By Date"
                id="covidVaccinationDate"
                onchange="selectCasesByMonth()"
              >
                <option value="all">All</option>
                {{#covidVaccination}}
                <option value="{{date}}">{{date}}</option>
                {{/covidVaccination}}
              </select>
            </div>
          </div>

          <table id="covidVaccination" border="solid">
            <tr>
              <th>Date</th>
              <th>Total Case</th>
              <th>Total Death</th>
              <th>Total Vaccination</th>
              <th>Total Unique Vaccinated People</th>
            </tr>

            {{#covidVaccination}}
            <tr>
              <td>{{date}}</td>
              <td>{{total_case}}</td>
              <td>{{total_death}}</td>
                 <td>{{total_vaccinations}}</td>
              <td>{{total_unique_vaccinated_people}}</td>
            </tr>
            {{/covidVaccination}}

            <tr>
              <td><b>Total</b></td>
              <td>{{totalCovid.total_case}}</td>
              <td>{{totalCovid.total_death}}</td>
              <td>{{totalVaccination.total_vaccinations}}</td>
              <td>{{totalVaccination.total_unique_vaccinated_people}}</td>
            </tr>
          </table>
        </div>

        </div>


    <div class="row" style="margin-top: 20px">
        <div class="container">
          <div class="titleContainer">
            <h3>Covid Cases And Hospitalization</h3>
            <div>
              Filter:
              <select
                name="Filter By Date"
                id="covidHospitalizeDate"
                onchange="selectCovidHospitalizeByMonth()"
              >
                <option value="all">All</option>
                {{#covidHospitalize}}
                <option value="{{date}}">{{date}}</option>
                {{/covidHospitalize}}
              </select>
            </div>
          </div>

          <table id="covidHospitalize" border="solid">
            <tr>
              <th>Date</th>
              <th>Total Case</th>
              <th>Total Death</th>
              <th>Total ICU Patient</th>
              <th>Total Hospitalize Patient</th>
            </tr>

            {{#covidHospitalize}}
            <tr>
              <td>{{date}}</td>
              <td>{{total_case}}</td>
              <td>{{total_death}}</td>
              <td>{{total_icu_patient}}</td>
              <td>{{total_hosp_patients}}</td>
            </tr>
            {{/covidHospitalize}}

            <tr>
              <td><b>Total</b></td>
              <td>{{totalCovid.total_case}}</td>
              <td>{{totalCovid.total_death}}</td>
              <td>{{totalCovidHospitalize.total_icu_patient}}</td>
              <td>{{totalCovidHospitalize.total_hosp_patients}}</td>
            </tr>
          </table>
        </div>
      </div>

  </div>
</body>

</html>