<!DOCTYPE html>
<html>

<head>
  <title>Continent</title>
  <link href="./templates/style.css" rel="stylesheet" type="text/css" />
</head>


<script src="./templates/components/nav.js" type="text/javascript" defer></script>
<script src="./templates/components/table.js" type="text/javascript" defer></script>
<script src="./templates/components/select.js" type="text/javascript" defer></script>

<style>
  .countryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  #country {
    padding: 10px;
  }
</style>

<script defer>
  function filterCase() {
    const selectedDate = document.getElementById('covidDate').value
    const selectedCountry = document.getElementById('country').value

    return fetch(`/api/covid/country?date=${selectedDate}&iso_code=${selectedCountry}`)
      .then((response) => response.json())
      .then(({ covid, totalCovid }) => {
        covid.push({ date: '<b>Total</b>', ...totalCovid })
        const header = selectedDate !== 'all' ? ['Date', 'Total Case', 'Total Death', 'Stringency Index'] : ['Date', 'Total Case', 'Total Death']
        loadTable(covid, header, 'covid')
      })

  }

  function filterVaccination() {
    const selectedDate = document.getElementById('totalVaccinationDate').value
    const selectedCountry = document.getElementById('country').value

    return fetch(`/api/vaccination/country?date=${selectedDate}&iso_code=${selectedCountry}`)
      .then(response => response.json())
      .then(({ vaccination, totalVaccination }) => {
        vaccination.push({ date: '<b>Total</b>', ...totalVaccination })
        loadTable(vaccination, ['Date', 'Total Vaccination', 'Total Unique Vaccinated People'], 'vaccination')
      })
  }

  function filterTest(){
     const selectedDate = document.getElementById('testDate').value
    const selectedCountry = document.getElementById('country').value

    return fetch(`/api/test/?date=${selectedDate}&iso_code=${selectedCountry}`)
      .then(response => response.json())
      .then(({ test }) => {
        loadTable(test, ['Date', 'Daily Test', 'Positive Rate'], 'test')
      })
  }

  function filterByCountry() {
    const selectedCountry = document.getElementById('country')

    return Promise.all([
      filterCase(),
      filterVaccination(),
      filterTest(),

      fetch(`/api/population/country?iso_code=${selectedCountry.value}`)
        .then(response => response.json())
        .then(({ population }) => {
          const selectedCountryText = selectedCountry.options[selectedCountry.selectedIndex].textContent
          const populationText = document.getElementById('population')
          populationText.textContent = `${selectedCountryText} Population: ${population.total_population}`
        })
    ])
  }

</script>

<body>
  <div id="myNav"></div>
  <div class="container">
    <h1>Country Data</h1>

    <div class="countryContainer">
      <h1>Country:<h1>
          <select name="Country" id="country" onchange="filterByCountry()">
            {{#countries}}
            <option value="{{iso_code}}">{{location}}</option>
            {{/countries}}
          </select>
    </div>

    <h3 id="population">{{countries.0.location}} Population: {{population.total_population}}</h3>

    <div class="row">
      <div class="container" style="margin-right:50px;">
        <div class="titleContainer">
          <h3>Covid Cases</h3>
          <div>
            Filter:
            <select name="Filter By Date" id="covidDate" onchange="filterCase()">
              <option value="all">All</option>
              {{#covid}}
              <option value="{{date}}">{{date}}</option>
              {{/covid}}
            </select>
          </div>
        </div>

        <table id="covid" border="solid">
          <tr>
            <th>Date</th>
            <th>Total Case</th>
            <th>Total Death</th>
          </tr>

          {{#covid}}
          <tr>
            <td>{{date}}</td>
            <td>{{total_case}}</td>
            <td>{{total_death}}</td>
          </tr>
          {{/covid}}

          <tr>
            <td><b>Total</b></td>
            <td>{{totalCovid.total_case}}</td>
            <td>{{totalCovid.total_death}}</td>
          </tr>

        </table>
      </div>

      <div class="container">
        <div class="titleContainer">
          <h3>Vaccination</h3>
          <div>
            Filter:
            <select name="Filter By Date" id="totalVaccinationDate" onchange="filterVaccination()">
              <option value="all">All</option>
              {{#vaccination}}
              <option value="{{date}}">{{date}}</option>
              {{/vaccination}}
            </select>
          </div>
        </div>

        <table id="vaccination" border="solid">
          <tr>
            <th>Date</th>
            <th>Total Vaccination</th>
            <th>Total Unique Vaccinated People</th>
          </tr>

          {{#vaccination}}
          <tr>
            <td>{{date}}</td>
            <td>{{total_vaccinations}}</td>
            <td>{{total_unique_vaccinated_people}}</td>
          </tr>
          {{/vaccination}}

          <tr>
            <td><b>Total</b></td>
            <td>{{totalVaccination.total_vaccinations}}</td>
            <td>{{totalVaccination.total_unique_vaccinated_people}}</td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row">
      <div class="container" style="margin-right:50px;">
        <div class="titleContainer">
          <h3>Test</h3>
          <div>
            Filter:
            <select name="Filter By Date" id="testDate" onchange="filterTest()">
              {{#testDateList}}
              <option value="{{date}}">{{date}}</option>
              {{/testDateList}}
            </select>
          </div>
        </div>

        <table id="test" border="solid">
          <tr>
            <th>Date</th>
            <th>Daily Test</th>
            <th>Positive Rate</th>
          </tr>

          {{#test}}
          <tr>
            <td>{{date}}</td>
            <td>{{new_tests}}</td>
            <td>{{positive_rate}}</td>
          </tr>
          {{/test}}

        </table>
      </div>
    </div>
  </div>
</body>

</html>