<!DOCTYPE html>
<html>

<head>
  <title>Country</title>
  <link href="./templates/style.css" rel="stylesheet" type="text/css" />
</head>


<script src="./templates/components/nav.js" type="text/javascript" defer></script>
<script src="./templates/components/table.js" type="text/javascript" defer></script>
<script src="./templates/components/select.js" type="text/javascript" defer></script>

<style>
  .countryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  #country {
    padding: 10px;
  }
</style>

<script defer>
  function selectCasesByMonth() {
      const selectedDate = document.getElementById("covidVaccinationDate").value;
       const selectedCountry = document.getElementById('country').value
      return fetch(`/api/covidVaccination/country?date=${selectedDate}&iso_code=${selectedCountry}`)
        .then((response) => response.json())
        .then(({ covidVaccination, totalCovid, totalVaccination }) => {
          covidVaccination.push({ date: "<b>Total</b>", ...totalCovid,...totalVaccination });
          const header = selectedDate !== 'all' ? ["Date", "Daily Case", "Daily Death", "Daily Vaccination", "Daily Unique Vaccinated People", 'Stringency Index'] : ["Date", "Total Case", "Total Death", "Total Vaccination", "Total Unique Vaccinated People"]
          loadTable(covidVaccination,header , "covidVaccination");
        });
    }

    function selectCovidHospitalizeByMonth() {
      const selectedDate = document.getElementById(
        "covidHospitalizeDate"
      ).value;
       const selectedCountry = document.getElementById('country').value
      return fetch(`/api/hospitalize/country?date=${selectedDate}&iso_code=${selectedCountry}`)
        .then((response) => response.json())
        .then(({ covidHospitalize, totalCovid, totalCovidHospitalize }) => {
          covidHospitalize.push({
            date: "<b>Total</b>",
            ...totalCovid,
            ...totalCovidHospitalize,
          });
          const header = selectedDate !== 'all' ? [
              "Date",
              "Daily Case",
              "Daily Death",
              "Daily ICU Patient",
              "Daily Hospitalize Patient",
            ]:  [
              "Date",
              "Total Case",
              "Total Death",
              "Total ICU Patient",
              "Total Hospitalize Patient",
            ]
          loadTable(
            covidHospitalize,
            header,
            "covidHospitalize"
          );
        });
      }

  function filterTest(){
     const selectedDate = document.getElementById('testDate').value
    const selectedCountry = document.getElementById('country').value

    return fetch(`/api/test/?date=${selectedDate}&iso_code=${selectedCountry}`)
      .then(response => response.json())
      .then(({ covidTest, totalTest, totalCovid }) => {
        covidTest.push({ date: "<b>Total</b>", ...totalCovid,...totalTest });
        loadTable(covidTest, ['Date',"Daily Case","Daily Death", 'Daily Test', 'Positive Test','Positive Rate(%)'], 'test')
      })
  }
  

  function filterByCountry() {
    const selectedCountry = document.getElementById('country')
    return Promise.all([
      selectCasesByMonth(),
      filterTest(),
      selectCovidHospitalizeByMonth(),
      fetch(`/api/population/country?iso_code=${selectedCountry.value}`)
        .then(response => response.json())
        .then(({ population }) => {
          const populationText = document.getElementById('population')
          const populationDensityText = document.getElementById('populationDensity')
          const seniorPopulationText = document.getElementById('seniorPopulation')
          const lifeExpectancyText = document.getElementById('lifeExpectancy')
          
          populationText.textContent = `Population: ${population.total_population}`
          populationDensityText.textContent = `Population Density: ${population.population_density}`
          seniorPopulationText.textContent = `Age 65 And Above Population: ${population.aged_65_older}% (${population.aged_65_older_population})`
          lifeExpectancyText.textContent = `Life Expectancy: ${population.life_expectancy}`

        }),
    ])
  }

</script>

<body>
  <div id="myNav"></div>
  <div class="container">
    <h1>Country Data</h1>

    <div class="countryContainer">
      <h1>Country:<h1>
          <select name="Country" id="country" onchange="filterByCountry()">
            {{#countries}}
            <option value="{{iso_code}}">{{location}}</option>
            {{/countries}}
          </select>
    </div>

    <div class="row" style="padding-bottom:10px; justify-content: space-between;">
      <h3 id="population">Population: {{population.total_population}}</h3>
      <h3 id="populationDensity">Population Density: {{population.population_density}}</h3>
      <h3 id="seniorPopulation">Age 65 And Above Population: {{population.aged_65_older}}% ({{population.aged_65_older_population}})</h3>
      <h3 id="lifeExpectancy">Life Expectancy: {{population.life_expectancy}}</h3>
    </div>

    <div class="row">
        <div class="container">
          <div class="titleContainer">
            <h3>Covid Cases And Vaccination</h3>
            <div>
              Filter:
              <select
                name="Filter By Date"
                id="covidVaccinationDate"
                onchange="selectCasesByMonth()"
              >
                <option value="all">All</option>
                {{#covidVaccination}}
                <option value="{{date}}">{{date}}</option>
                {{/covidVaccination}}
              </select>
            </div>
          </div>

          <table id="covidVaccination" border="solid">
            <tr>
              <th>Date</th>
              <th>Total Case</th>
              <th>Total Death</th>
              <th>Total Vaccination</th>
              <th>Total Unique Vaccinated People</th>
            </tr>

            {{#covidVaccination}}
            <tr>
              <td>{{date}}</td>
              <td>{{total_case}}</td>
              <td>{{total_death}}</td>
                 <td>{{total_vaccinations}}</td>
              <td>{{total_unique_vaccinated_people}}</td>
            </tr>
            {{/covidVaccination}}

            <tr>
              <td><b>Total</b></td>
              <td>{{totalCovid.total_case}}</td>
              <td>{{totalCovid.total_death}}</td>
              <td>{{totalVaccination.total_vaccinations}}</td>
              <td>{{totalVaccination.total_unique_vaccinated_people}}</td>
            </tr>
          </table>
        </div>

        </div>

        <div class="row" style="margin-top: 20px">
        <div class="container">
          <div class="titleContainer">
            <h3>Covid Cases And Hospitalization</h3>
            <div>
              Filter:
              <select
                name="Filter By Date"
                id="covidHospitalizeDate"
                onchange="selectCovidHospitalizeByMonth()"
              >
                <option value="all">All</option>
                {{#covidHospitalize}}
                <option value="{{date}}">{{date}}</option>
                {{/covidHospitalize}}
              </select>
            </div>
          </div>

          <table id="covidHospitalize" border="solid">
            <tr>
              <th>Date</th>
              <th>Total Case</th>
              <th>Total Death</th>
              <th>Total ICU Patient</th>
              <th>Total Hospitalize Patient</th>
            </tr>

            {{#covidHospitalize}}
            <tr>
              <td>{{date}}</td>
              <td>{{total_case}}</td>
              <td>{{total_death}}</td>
              <td>{{total_icu_patient}}</td>
              <td>{{total_hosp_patients}}</td>
            </tr>
            {{/covidHospitalize}}

            <tr>
              <td><b>Total</b></td>
              <td>{{totalCovid.total_case}}</td>
              <td>{{totalCovid.total_death}}</td>
              <td>{{totalCovidHospitalize.total_icu_patient}}</td>
              <td>{{totalCovidHospitalize.total_hosp_patients}}</td>
            </tr>
          </table>
        </div>
      </div>


    <div class="row" style="margin-top:20px;">

      <div class="container">
        <div class="titleContainer">
          <h3>Test</h3>
          <div>
            Filter:
            <select name="Filter By Date" id="testDate" onchange="filterTest()">
              {{#testDateList}}
              <option value="{{date}}">{{date}}</option>
              {{/testDateList}}
            </select>
          </div>
        </div>

        <table id="test" border="solid">
          <tr>
            <th>Date</th>
            <th>Daily Case</th>
            <th>Daily Death</th>
            <th>Daily Test</th>
            <th>Positive Test</th>
            <th>Positive Rate(%)</th>
          </tr>

          {{#covidTest}}
          <tr>
            <td>{{date}}</td>
            <td>{{total_case}}</td>
            <td>{{total_death}}</td>
            <td>{{new_tests}}</td>
            <td>{{total_positive_tests}}</td>
            <td>{{positive_rate}}</td>
          </tr>
          {{/covidTest}}

            <tr>
              <td><b>Total</b></td>
              <td>{{totalCovidDaily.total_case}}</td>
              <td>{{totalCovidDaily.total_death}}</td>
              <td>{{totalTest.total_tests}}</td>
              <td>{{totalTest.total_positive_tests}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>