{% extends "./base.html" %} 
{% load bootstrap4 %} 
{% block content %}
<h1>Register</h1>
    {% if registered %}
        <strong>Thank you for registering</strong>
    {% else %}
        <strong>Register Here</strong> <br />
        <form
        action="/register/"
        id="user_form"
        method="post"
        enctype="multipart/form-data"
        >
        {% csrf_token %} 
        {{user_form.as_p}} 
        {{profile_form.as_p}}
        <input type="submit" value="Register" name="submit" />
        </form>
    {% endif %} 
{% endblock %}
