{% block javascript %}
<script>
  function login() {
    (async () => {
      const email = document.getElementById("login_email").value;
      const password = document.getElementById("login_password").value;

      const response = await fetch("api/login/", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      });
      const data = await response.json();
      console.log(data);
    })();
  }
</script>
{% endblock javascript %}

<nav class="navbar navbar-expand-lg nav">
  <a class="navbar-brand whiteText" href="#../">FriendBook</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if user.is_authenticated %}
  <div
    class="collapse navbar-collapse flex-row justify-content-end"
    id="navbarSupportedContent"
  >
    <li class="nav-item active">
      <a class="nav-link" href="logout/"
        >Logout <span class="sr-only">(current)</span></a
      >
    </li>
  </div>
  {% else %}
  <div
    class="collapse navbar-collapse flex-row justify-content-end"
    id="navbarSupportedContent"
  >
    <form id="login_form" class="form-inline">
      {% csrf_token %}
      <span class="whiteText">Email: </span>
      <input type="text" name="email" value="" size="20" id="login_email" />
      <span class="whiteText">Password:</span>
      <input
        type="password"
        name="password"
        class="form-control mr-sm-2"
        value=""
        size="20"
        id="login_password"
      />
      <input
        type="button"
        class="form-control mr-sm-2"
        value="Login"
        onclick="login()"
      />
    </form>
  </div>
  {% endif %}
</nav>
