{% load static%}

{% block javascript %}
  <script>


    function searchUser(){
      const searchInput = document.getElementById('searchInput');
      let searchResult = document.getElementsByClassName('search-results')[0]
      if(searchInput.value.trim().length == 0) {
        console.log(searchResult)
        searchResult.innerHTML = ''
        searchResult.style.display = 'none';
        return
      } 
      fetch('/api/search-user/' + searchInput.value).then(response => 
        response.json()
      ).then((data)=>{
        if(data.length>0){
          let htmlResult=''
          data.forEach(({profile_image,user})=>{
            htmlResult += `
            <a href="/profile/${user.username}">
              <div class="flex items-center searchEntry" style="padding:5px;">
                <div class="w-10 h-10 rounded-full relative flex-shrink-0 mr-1">
                  <img
                    src="${profile_image}"
                    alt=""
                    class="absolute h-full rounded-full w-full"
                  />
                </div>
                <span class="text-m ml-4 font-bold">
                  ${user.first_name} ${user.last_name}
                </span>
              </div>
            </a>  
            `
        })
          searchResult.innerHTML = htmlResult
          searchResult.style.display = 'block';
        }
        else{
          searchResult.innerHTML = ''
          searchResult.style.display = 'none';
        }
      
      })
    }
  </script>
{% endblock%}
<header>
  <div class="header_inner">
    <div class="left-side">
      <!-- Logo -->
      <div id="logo">
        <a href="../../">
          <b
            ><h1 style="text-transform: uppercase; color: white">
              friendbook
            </h1></b
          >
        </a>
      </div>

      {% if user.is_authenticated %}
      <div class="header_search">
        <input type="text" placeholder="Search for name.." id="searchInput" oninput="searchUser()" />
        <div class="icon-search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </div>
        <div class="search-results"></div>
      </div>

    </div>
    <div class="right-side lg:pr-4">
      <!-- Messages -->

      <a href="#" class="header-links-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          width="0.5em"
          height="0.5em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 16 16"
        >
          <g fill="currentColor">
            <path
              d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
          </g>
        </svg>
      </a>
      <div uk-drop="mode: click;offset: 4" class="header_dropdown">
        <h4
          class="-mt-5 -mx-5 bg-gradient-to-t from-gray-100 to-gray-50 border-b font-bold px-6 py-3"
        >
          Messages
        </h4>
        <ul class="dropdown_scrollbar" data-simplebar>
          <li>
            <a href="#">
              <div class="drop_avatar">
                <img
                  src="{% static 'assets/images/avatars/avatar-1.jpg' %}"
                  alt=""
                />
              </div>
              <div class="drop_content">
                <strong> Taiye </strong> <time> 6:43 PM</time>
                <p>hi tomi</p>
              </div>
            </a>
          </li>
        </ul>
        <a href="#" class="see-all">See all</a>
      </div>

      <!-- profile -->

      <a href="#">
        <img
          src="{{ profile.profile_image.url }}"
          class="header-avatar"
          alt=""
        />
      </a>
      <div
        uk-drop="mode: click;offset:9"
        class="header_dropdown profile_dropdown border-t"
      >
        <ul>
          <li><a href="/profile/{{user.username}}"> Account Profile </a></li>
          <li><a href="/setting"> Account setting </a></li>
          <li><a href="/logout"> Log Out</a></li>
        </ul>
      </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
  </div>
</header>
