<nav class="navbar navbar-expand-lg nav">
  <a class="navbar-brand whiteText" href="#../">FriendBook</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse flex-row justify-content-end"
    id="navbarSupportedContent"
  >
    <form id="login_form" method="post" action="/login/" class="form-inline">
      {% csrf_token %}
      <span class="whiteText">Email: </span>
      <input type="text" name="email" value="" size="20" />
      <span class="whiteText">Password:</span>
      <input
        type="password"
        name="password"
        class="form-control mr-sm-2"
        value=""
        size="20"
      />
      <input type="submit" class="form-control mr-sm-2" value="Login" />
    </form>
  </div>
</nav>
