{% extends "./base.html" %}
{% load static %} 
{% load tz %} 
{% load custom_tags%} 

{% block javascript %}
<script>

// send a post request for friend request
function addFriend(friendUsername){
  fetch('/api/sent-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    // when the response is successful, we will reload to page to change the button status
    // reason for reload is because updating the dom html is alot of work and since the page is 
    // already at the top of the page, a reload will make things simpler and less work
    if(response.status===201){
      location.reload();
    }
  })
}

// send a post request to reject friend request
function rejectFriend(friendUsername){
  fetch('/api/reject-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    // when the response is successful, we will reload to page to change the button status
    // reason for reload is because updating the dom html is alot of work and since the page is 
    // already at the top of the page, a reload will make things simpler and less work
    if(response.status===200){
      location.reload();
    }
  })
}

// send a post request to accept friend request
function acceptFriend(friendUsername){
   fetch('/api/accept-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    // when the response is successful, we will reload to page to change the button status
    // reason for reload is because updating the dom html is alot of work and since the page is 
    // already at the top of the page, a reload will make things simpler and less work
    if(response.status===200){
      location.reload();
    }
  })
}

// open the modal by setting it's display to block
function openModal(){
  document.getElementById('friendModal').style.display="block"
}

// open the modal by setting it's display to none
function closeModal(){
  document.getElementById('friendModal').style.display="none"
}

// when user click outside of the modal, it will close the modal by setting it's
// display to none
window.onclick = function(event) {
    if (event.target == document.getElementById('friendModal')) {
      document.getElementById('friendModal').style.display = "none";
    }
  }
  
</script>
{% endblock javascript %} 
{% block content %}

<div class="container">
  <!-- Profile Image And Friends List -->
  <div class="profile">
    <div class="infoHeader">
      <img
        src="{{ user_profile.profile_image }}"
        class="profilePicture"
        alt=""
      />
      <div class="userInfo">
        <span class="name"
          >{{user_profile.user.first_name}}
          {{user_profile.user.last_name}}</span
        >
        {% with friends=friend_list|get_accepted_friend:user_profile.user.username %}
        <a href='#' onclick="openModal()"><span><strong>{{friends|length}}</strong> Friends</span></a>
        <div class="flex mt-2">
          {% for friend in friends %}
            {% if forloop.counter0 < 6%}
              <div class="w-10 h-10 rounded-full relative flex-shrink-0 mr-1">
                  <img
                    src="{{friend.profile_image}}"
                    alt=""
                    class="absolute h-full rounded-full w-full"
                  />
                </div>
            {% endif %}
          {% endfor %}
          </div>

      </div>
    </div>
  </div>
  <!--  End Profile Image And Friends List -->

  <!-- Add friend status -->
  {% if user_profile.user.username != user.username and user.is_authenticated %}
    {% with friend=friend_list|check_if_friend:user.username %}
      {% with status=friend.0 request_from=friend.1 %}
        {% if status != False%}
          {% if status == "Accepted" %}
                <div class="flex flex-row-reverse">
                  <button id="rejectFriendButton" onclick="rejectFriend('{{user_profile.user.username}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill='currentColor'
                            width="24"
                            height="24"
                            style="margin-right:8px;">
                          <path d="M14,8c0-2.21-1.79-4-4-4S6,5.79,6,8s1.79,4,4,4S14,10.21,14,8z M17,10v2h6v-2H17z M2,18v2h16v-2c0-2.66-5.33-4-8-4 S2,15.34,2,18z"/>  
                    </svg>
                    Remove Friend
                  </button>
                </div>
          {% else %}
                {% if request_from == user.username %}
                  <div class="flex flex-row-reverse">
                    <button id="rejectFriendButton" onclick="rejectFriend('{{user_profile.user.username}}')" class="ml-3">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                              fill='currentColor'
                              width="24"
                              height="24"
                              style="margin-right:8px;">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>        
                      </svg>
                      Cancel Request
                    </button>
                    <span class="flex justify-center items-center"> 
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                              fill='currentColor'
                              width="24"
                              height="24"
                              style="margin-right:8px;">
                        <path d="M17,12c-2.76,0-5,2.24-5,5s2.24,5,5,5c2.76,0,5-2.24,5-5S19.76,12,17,12z M18.65,19.35l-2.15-2.15V14h1v2.79l1.85,1.85 L18.65,19.35z M18,3h-3.18C14.4,1.84,13.3,1,12,1S9.6,1.84,9.18,3H6C4.9,3,4,3.9,4,5v15c0,1.1,0.9,2,2,2h6.11 c-0.59-0.57-1.07-1.25-1.42-2H6V5h2v3h8V5h2v5.08c0.71,0.1,1.38,0.31,2,0.6V5C20,3.9,19.1,3,18,3z M12,5c-0.55,0-1-0.45-1-1 c0-0.55,0.45-1,1-1c0.55,0,1,0.45,1,1C13,4.55,12.55,5,12,5z"/>
                      </svg>
                      Pending
                    </span>
                  </div>
                {% else %}
                  <div class="flex flex-row-reverse">
                    <button id="acceptFriendButton" onclick="acceptFriend('{{user_profile.user.username}}')" class="ml-3">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                              fill='currentColor'
                              width="24"
                              height="24"
                              style="margin-right:8px;">
                        <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
                      </svg>
                      Accept Request
                    </button>

                    <button id="rejectFriendButton" onclick="rejectFriend('{{user_profile.user.username}}')">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                              fill='currentColor'
                              width="24"
                              height="24"
                              style="margin-right:8px;">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>        
                      </svg>
                      Reject Request
                    </button>
                  </div>

                {% endif %}
          {% endif %}
          {% else %}
            <div class="flex flex-row-reverse">
              <button id="addFriendButton" onclick="addFriend('{{user_profile.user.username}}')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        fill='currentColor'
                        width="24"
                        height="24"
                        style="margin-right:8px;">
              <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                Add Friend
              </button>
            </div>

          {% endif %}
        {% endwith %}
      {% endwith %}
    {% endif %}
</div>
  <!-- End add friend status -->

  <!-- Post feeds -->
  <div class="container m-auto flex flex-col items-center">
     {% if user.username == user_profile.user.username %}
      <!-- Upload Post Section -->
     <div class="space-y-5 flex-shrink-0 col-12">
      <!-- Upload Post Section -->
      <div
        class="postDiv"
        ondragenter="fileDrag(event)"
        ondragleave="hideFileArea(event)"
        ondragover="fileDrag(event)"
        ondrop="dropHandler(event)"
      >
        <form id="uploadPostForm"> 
          {% csrf_token %} 
          <textarea rows="7" cols="70" id="caption"></textarea>
          <div class="flex justify-end">
            <button onclick="submitPost(event)" class="postButton">Post</button>
          </div>

          <div class="fileArea hidden" id="fileArea">
            <input type="file" multiple accept="image/*" />
            <div class="fileDummy">
              <span>Click here to select a file or drag and drop here</span>
            </div>
          </div>
        </form>

        <div id="imageList" class="imageList"></div>
    </div>
      {% endif %}

    <!-- End Upload Post Section -->

    <!-- No Post Feeds-->
    {% if posts|length == 0 %}
      <div class="flex justify-center items-center">
        <span style="color:#666;">No New Posts</span>
      </div>
    {% endif %}
    <!-- End No Post Feeds-->

    <!-- Posts -->
    <div id='feeds'>
    {% for post in posts %}
    <div class="bg-white shadow rounded-md -mx-2 lg:mx-0 mt-2 mb-3" id="{{post.id}}">
      <!-- Post Header-->
      <div class="flex justify-between items-center px-2 py-3">
        <div class="flex flex-1 items-center space-x-4">
          <a href="/profile/{{post.user.user.username}}">
            <div
              class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full"
            >
              <img
                src="{{post.user.profile_image}}"
                class="bg-gray-200 border border-white rounded-full w-8 h-8"
              />
            </div>
          </a>

          <div class="postHeader">
            <a href="/profile/{{post.user.user.username}}">
              <span class="block capitalize font-semibold">
                {{post.user.user.first_name}} {{post.user.user.last_name}}
              </span>
            </a>

            <span class="time"> {{post.created_at|format_date}} </span>
          </div>
        </div>
        <div>
          <a href="#">
            <i
              class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"
            ></i>
          </a>
        </div>
      </div>

      <div class="flex justify-between items-center px-2">
        <span>{{post.caption}}</span>
      </div>

      <div uk-lightbox>
        {% if post.post_image|length == 1 %}
        <div class="grid grid-cols-1 gap-2 p-2">
          {% for image in post.post_image %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endfor %}
        </div>

        {% elif post.post_image|length == 2 %}
        <div class="grid grid-cols-2 gap-2 p-2">
          {% for image in post.post_image %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endfor %}
        </div>

        {%else %}
        <div class="grid grid-cols-2 gap-2 p-2">
          {% for image in post.post_image %} 
          {% if forloop.counter == 1 %}
          <a href="{{image.image}}" class="col-span-2">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full lg:h-76 object-cover"
            />
          </a>

          {% elif forloop.counter == 2 %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>

          {% elif forloop.counter == 3 %}
          <a href="{{image.image}}" class="relative">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
            {% if post.post_image|length|add:-3 > 0%}
              <div
                class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"
              >
                + {{post.post_image|length|add:-3}} more
              </div>
            {% endif %}
          </a>
          {% else %}
          <a href="{{image.image}}" class="hidden">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endif %} 
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="py-3 px-4 space-y-3">
        <div class="flex lg:font-bold">
          <div class="flex items-center" style="margin-left:-10px;" onclick="likePost(event,'{{post.id}}');" id="{{post.id}}-likeDiv">
            {% csrf_token %} 
            <div class="flex items-center p-2 rounded-full text-black buttonCursor">
            {% if user.is_authenticated %}
              {% if post.likes|check_if_liked:user.username %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="blue"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="color:blue; margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% else %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% endif %}
            {% else %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% endif %}
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <div class="flex p-2 rounded-full text-black" style="margin-top:5px;">
              <span id="{{post.id}}-totalComment">{{post.comment|length}}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
              >
                <path
                  fill-rule="evenodd"
                  d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-3">
          <div id = "{{post.id}}-likeCount">
          {% if post.likes|length > 0%}
            Liked by <strong> {{post.likes|length}} </strong>
          {% endif %}
          </div>
        </div>

        <div class="border-t pt-4 space-y-4" id="{{post.id}}-comments">
          {% for comment in post.comment%}
          <div class="flex items-center">
            <div class="w-10 h-10 rounded-full relative flex-shrink-0">
              <img
                src="{{comment.posted_by.profile_image}}"
                alt=""
                class="absolute h-full rounded-full w-full"
              />
            </div>
            <div
              class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20"
            >
              <span><b>{{comment.posted_by.user.first_name}} {{comment.posted_by.user.last_name}}</b></span>
              <p class="leading-6">
                {{comment.comment}}
              </p>
              <p class="time">
                {{comment.created_at|format_date}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative" id="{{post.id}}-writeCommentSection">
          {% csrf_token %} 
          <input
            type="text"
            placeholder="post a comment"
            class="bg-transparent max-h-10 shadow-none"
            id="{{post.id}}-commentBox"
            onkeyup="postComment(event, '{{post.id}}')"
          />
          <div
            class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2"
          >
            <a href="#"> <i class="uil-image"></i></a>
            <a href="#"> <i class="uil-video"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- End Posts -->
  </div>
  <!-- End Post Feeds-->
  </div>
</div>

<!-- Friend Modal -->
<div id="friendModal" class="modal">
  <!-- Modal Content -->
  <div class="modalContent">
    <div class="flex justify-end">
      <span class="close" onclick="closeModal()">&times;</span>
    </div>

    {% for friend in friends %}
    <div class="flex items-center" style="padding:50px;">
      <div class="w-20 h-20 rounded-full relative flex-shrink-0 mr-1">
        <a href="/profile/{{friend.user.username}}">
          <img
            src="{{friend.profile_image}}"
            alt=""
            class="absolute h-full rounded-full w-full"
          />
        </a>
      </div>
      <span class="text-xl ml-4 font-bold">
        <a href="/profile/{{friend.user.username}}">
          {{friend.user.first_name}} {{friend.user.last_name}}
        </a>
      </span>
    </div>
    {% endfor %}
  </div>
   <!-- End Modal Content -->
</div>
<!-- End Friend Modal -->

{% endwith %}
{% endblock %}
