{% extends "./base.html" %}
{% load static %} 
{% load tz %} 
{% load custom_tags%} 

{% block javascript %}
<script>
function addFriend(friendUsername){
  fetch('/api/sent-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    if(response.status===200){

    }
  })
}

function rejectFriend(friendUsername){
  fetch('/api/reject-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    if(response.status===200){

    }
  })
}

function acceptFriend(friendUsername){
   fetch('/api/accept-friend-request/',{
    method: "POST",
    headers: {
      "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ friendUsername }),
  }).then(response => {
    if(response.status===200){

    }
  })
}
</script>
{% endblock javascript %} 
{% block content %}

<div class="container">
  <!-- profile image and friends list -->
  <div class="profile">
    <div class="infoHeader">
      <img
        src="{{ user_profile.profile_image }}"
        class="profilePicture"
        alt=""
      />
      <div class="userInfo">
        <span class="name"
          >{{user_profile.user.first_name}}
          {{user_profile.user.last_name}}</span
        >
        <span>Friends</span>
      </div>
    </div>
  </div>

    <!-- Add friend status -->
    {% if user_profile.username != user.username%}
    <div class="flex flex-row-reverse">
      <button id="addFriendButton" onclick="addFriend('{{user_profile.user.username}}')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill='currentColor'
                width="24"
                height="24"
                style="margin-right:8px;">
       <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
        Add Friend
      </button>
    </div>

    <div class="flex flex-row-reverse">
      <button id="rejectFriendButton" onclick="rejectFriend('{{user_profile.user.username}}')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill='currentColor'
                width="24"
                height="24"
                style="margin-right:8px;">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>        
        </svg>
        Reject Request
      </button>

    </div>

    <div class="flex flex-row-reverse">
      <button id="rejectFriendButton" onclick="rejectFriend('{{user_profile.user.username}}')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill='currentColor'
                width="24"
                height="24"
                style="margin-right:8px;">
              <path d="M14,8c0-2.21-1.79-4-4-4S6,5.79,6,8s1.79,4,4,4S14,10.21,14,8z M17,10v2h6v-2H17z M2,18v2h16v-2c0-2.66-5.33-4-8-4 S2,15.34,2,18z"/>  
        </svg>
        Remove Friend
      </button>

    </div>

    <div class="flex flex-row-reverse">
      <button id="acceptFriendButton" onclick="acceptFriend('{{user_profile.user.username}}')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill='currentColor'
                width="24"
                height="24"
                style="margin-right:8px;">
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
        </svg>
        Accept Request
      </button>

    </div>
    
    {% endif %}
</div>


<!-- post feeds -->
<div class="container m-auto">
     {% if user.username == user_profile.user.username %}
     <div class="space-y-5 mt-6 flex-shrink-0 lg:w-9/12">
      <div
        class="postDiv"
        ondragenter="fileDrag(event)"
        ondragleave="hideFileArea(event)"
        ondragover="fileDrag(event)"
        ondrop="dropHandler(event)"
      >
        <form id="uploadPostForm"> 
          {% csrf_token %} 
          <textarea rows="7" cols="70" id="caption"></textarea>
          <button onclick="submitPost(event)">Post</button>

          <div class="fileArea hidden" id="fileArea">
            <input type="file" multiple accept="image/*" />
            <div class="fileDummy">
              <span>Click here to select a file or drag and drop here</span>
            </div>
          </div>
        </form>

        <div id="imageList" class="imageList"></div>
      </div>
    </div>
      {% endif %}
    <div id='feeds'>
    {% for post in posts %}
    <div class="bg-white shadow rounded-md -mx-2 lg:mx-0 mt-5" id="{{post.id}}">
      <!-- post header-->
      <div class="flex justify-between items-center px-2 py-3">
        <div class="flex flex-1 items-center space-x-4">
          <a href="/profile/{{post.user.user.username}}">
            <div
              class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full"
            >
              <img
                src="{{post.user.profile_image}}"
                class="bg-gray-200 border border-white rounded-full w-8 h-8"
              />
            </div>
          </a>

          <div class="postHeader">
            <a href="/profile/{{post.user.user.username}}">
              <span class="block capitalize font-semibold">
                {{post.user.user.first_name}} {{post.user.user.last_name}}
              </span>
            </a>

            <span class="time"> {{post.created_at|format_date}} </span>
          </div>
        </div>
        <div>
          <a href="#">
            <i
              class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"
            ></i>
          </a>
          <div
            class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100"
            uk-drop="mode: hover;pos: top-right"
          >
            <ul class="space-y-1">
              <li>
                <a
                  href="#"
                  class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                >
                  <i class="uil-share-alt mr-1"></i> Share
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                >
                  <i class="uil-edit-alt mr-1"></i> Edit Post
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                >
                  <i class="uil-comment-slash mr-1"></i> Disable comments
                </a>
              </li>
              <li>
                <hr class="-mx-2 my-2" />
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md"
                >
                  <i class="uil-trash-alt mr-1"></i> Delete
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center px-2">
        <span>{{post.caption}}</span>
      </div>

      <div uk-lightbox>
        {% if post.post_image|length == 1 %}
        <div class="grid grid-cols-1 gap-2 p-2">
          {% for image in post.post_image %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endfor %}
        </div>

        {% elif post.post_image|length == 2 %}
        <div class="grid grid-cols-2 gap-2 p-2">
          {% for image in post.post_image %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endfor %}
        </div>

        {%else %}
        <div class="grid grid-cols-2 gap-2 p-2">
          {% for image in post.post_image %} {% if forloop.counter == 1 %}
          <a href="{{image.image}}" class="col-span-2">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full lg:h-76 object-cover"
            />
          </a>

          {% elif forloop.counter == 2 %}
          <a href="{{image.image}}">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>

          {% elif forloop.counter == 3 %}
          <a href="{{image.image}}" class="relative">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
            {% if post.post_image|length|add:-3 > 0%}
              <div
                class="absolute bg-gray-900 bg-opacity-30 flex justify-center items-center text-white rounded-md inset-0 text-2xl"
              >
                + {{post.post_image|length|add:-3}} more
              </div>
            {% endif %}
          </a>
          {% else %}
          <a href="{{image.image}}" class="hidden">
            <img
              src="{{image.image}}"
              alt=""
              class="rounded-md w-full h-full"
            />
          </a>
          {% endif %} 
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="py-3 px-4 space-y-3">
        <div class="flex lg:font-bold">
          <div class="flex items-center" style="margin-left:-10px;" onclick="likePost(event,'{{post.id}}');" id="{{post.id}}-likeDiv">
            {% csrf_token %} 
            <div class="flex items-center p-2 rounded-full text-black buttonCursor">
            {% if user.is_authenticated %}
              {% if post.likes|check_if_liked:user.username %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="blue"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="color:blue; margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% else %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% endif %}
            {% else %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
                id="{{post.id}}-likeBtn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
              <span style="margin-top:5px; margin-left:2px;" id="{{post.id}}-likeText">Like</span>
            {% endif %}
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <div class="flex p-2 rounded-full text-black" style="margin-top:5px;">
              <span id="{{post.id}}-totalComment">{{post.comment|length}}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class=""
              >
                <path
                  fill-rule="evenodd"
                  d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-3">
          <div id = "{{post.id}}-likeCount">
          {% if post.likes|length > 0%}
            Liked by <strong> {{post.likes|length}} </strong>
          {% endif %}
          </div>
        </div>

        <div class="border-t pt-4 space-y-4" id="{{post.id}}-comments">
          {% for comment in post.comment%}
          <div class="flex items-center">
            <div class="w-10 h-10 rounded-full relative flex-shrink-0">
              <img
                src="{{comment.posted_by.profile_image}}"
                alt=""
                class="absolute h-full rounded-full w-full"
              />
            </div>
            <div
              class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20"
            >
              <span><b>{{comment.posted_by.user.first_name}} {{comment.posted_by.user.last_name}}</b></span>
              <p class="leading-6">
                {{comment.comment}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative" id="{{post.id}}-writeCommentSection">
          {% csrf_token %} 
          <input
            type="text"
            placeholder="post a comment"
            class="bg-transparent max-h-10 shadow-none"
            id="{{post.id}}-commentBox"
            onkeyup="postComment(event, '{{post.id}}')"
          />
          <div
            class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2"
          >
            <a href="#"> <i class="uil-image"></i></a>
            <a href="#"> <i class="uil-video"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
