{% extends "./base.html" %} {% block content %}
<div class="flexRowCenter">
  <form
    action="/register/"
    id="user_form"
    method="post"
    enctype="multipart/form-data"
    class="form"
  >
    <h1>Register</h1>
    <br />
    {% csrf_token %} 
    {{user_form.as_p}} 
    {{profile_form.as_p}} 
    {%for message in messages%}
    <span class="error show">{{message}}</span>
    {%endfor%}
    {% if registered %}
    <span class="success" class="mb-3"><strong>Thank you for registering</strong></span>
    {% endif %}

    <button type="submit" class="mb-3">Register</button>
    <a href="../login">Have an account? Login here</a>
  
  </form>

  
</div>
{% endblock %}
