<nav class="navbar navbar-expand-md sticky-top flex-column">
  <div class="w-100 d-flex">
    <div class="navbar-header" id="header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/202002_Laboratory_instrument_dna.svg"  id="logo"  alt="dna logo" width="50px" height="50px">
      <h1 id="application_title">FriendBook</h2>
    </div>
  </div>

  <div class="w-100 d-flex">
   <ul class="navbar-nav mr-auto" id="navigation">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="#">Hello {{user.username}} <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="logout/">Logout <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item active">
      <a class="nav-link" href="../../register/">Register <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
      <a class="nav-link" href="../../login/">Login <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
   </ul>
   </div>
</nav>
